.div-block {
  width: 100vw;
  height: 100vh;
  min-height: 0;
  min-width: 0;
}

.div-block-2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid #fff;
  border-radius: 0;
  position: static;
}

.div-block-3 {
  height: 100vh;
  opacity: .97;
  outline-offset: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  outline: 3px #333;
  margin-top: 0;
  margin-left: 0%;
  padding-top: 0;
  padding-left: 0;
  box-shadow: 0 -20px 3px -20px rgba(0, 0, 0, .3);
}

.navbar {
  opacity: 1;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  display: flex;
  box-shadow: 0 20px 3px -16px rgba(0, 0, 0, .2);
}

.nav-menu {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-link, .nav-link-2, .nav-link-3 {
  padding-top: 0;
  padding-bottom: 0;
  font-family: Merriweather, serif;
}

.div-block-4 {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-5 {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.div-block-6 {
  width: 300px;
  height: 300px;
  border-radius: 0;
  margin-bottom: 86px;
  margin-left: 125px;
  padding-top: 20px;
  padding-left: 0;
  font-family: Merriweather, serif;
  font-style: normal;
}

.text-block {
  padding-top: 0;
  font-family: Merriweather, serif;
  font-size: 200%;
  font-weight: 900;
  line-height: 100%;
}

.div-block-7 {
  width: 100vw;
  height: 100vh;
  background-color: #c53131;
}

.container {
  opacity: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.navbar-2 {
  z-index: auto;
  width: 75%;
  opacity: 1;
  background-color: rgba(171, 171, 171, .46);
  border-radius: 0;
  margin-left: 0%;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
}

.div-block-8 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.body {
  background-image: url('../images/bg2.png');
  background-position: 0 0;
  background-size: cover;
}

.div-block-9, .div-block-10 {
  width: 100vw;
  height: 100vh;
}

.div-block-11 {
  width: 100%;
  height: 100%;
}

.div-block-12 {
  width: 75%;
  height: 100%;
}

.div-block-12-copy {
  width: 75%;
  height: 100%;
  margin-left: 12.5%;
}

.div-block-13 {
  width: 75%;
  height: 500vh;
  background-color: #fff;
  margin-left: 12.5%;
}

.div-block-3-copy {
  width: 100%;
  height: 100vh;
  opacity: .97;
  outline-offset: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  outline: 3px #333;
  margin-top: 0;
  margin-left: 0%;
  padding-top: 0;
  padding-left: 0;
  box-shadow: 0 -20px 3px -20px rgba(0, 0, 0, .3);
}

.div-block-4-copy2 {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-4-copy {
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-14 {
  width: 50%;
  height: 100%;
  outline-offset: 0px;
  outline: 3px #333;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.div-block-15 {
  width: 325px;
  height: 614px;
  outline-offset: 0px;
  outline: 3px #333;
  justify-content: center;
  padding-left: 0;
  display: block;
}

.div-block-16, .div-block-17, .div-block-18, .div-block-19 {
  width: 33.3%;
  height: 100%;
  outline-offset: 0px;
  outline: 3px solid #333;
}

.video {
  width: 200px;
  height: 300px;
  object-fit: fill;
  padding-bottom: 0;
  display: block;
  position: relative;
}

.div-block-20 {
  width: 200px;
  height: 300px;
}

.text-block-2 {
  padding-top: 20px;
  padding-bottom: 0;
}

.div-block-21 {
  width: 325px;
  height: 614px;
  background-color: #8e4242;
  padding-left: 0;
}

.text-block-3 {
  text-align: left;
  flex: 1;
  margin-top: 0;
  padding: 0 15px;
}

.text-block-4 {
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: 700;
  display: block;
}

.text-block-5 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
}

.div-block-22, .div-block-23 {
  height: 100%;
  margin-top: 100px;
  margin-bottom: 0;
}

.div-block-24 {
  height: 100%;
}

.div-block-25 {
  width: 50%;
  height: 80%;
  outline-offset: 0px;
  outline: 3px #333;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-26 {
  width: 50%;
  height: 100%;
  outline-offset: 0px;
  outline: 3px #333;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-27 {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-28, .text-block-6 {
  font-size: 18px;
}

.text-block-7 {
  font-size: 17px;
  font-weight: 700;
}

.div-block-29 {
  width: 100%;
  display: flex;
}

.div-block-30, .div-block-31 {
  width: 50%;
  height: 50%;
  background-image: url('../images/WhatsApp-Image-2023-05-02-at-18.00.41.jpeg');
  background-position: 0 0;
  background-size: cover;
}

.div-block-27-copy {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.text-block-8, .text-block-9 {
  width: 75%;
  padding-top: 20px;
}

.text-block-10 {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 700;
}

.div-block-32 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 0;
  display: flex;
}

.text-block-11 {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.div-block-33 {
  padding-bottom: 20px;
  display: flex;
}

.div-block-34 {
  background-image: url('../images/telephone-handle-silhouette.png');
  background-position: 0 0;
  background-size: cover;
}

.div-block-35 {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/Digital_Glyph_Green.png');
  background-position: 0 0;
  background-size: contain;
}

.div-block-36 {
  background-image: url('../images/email.png');
  background-position: 0 0;
  background-size: cover;
}

.text-block-12 {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  display: flex;
}

.text-block-13, .text-block-14 {
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  display: flex;
}

.div-block-4-copy {
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.image {
  width: 30px;
  height: 30px;
}

.image-2, .image-3 {
  width: 50px;
  height: 50px;
}

.div-block-37 {
  width: 50%;
  height: 75%;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.div-block-38 {
  width: 50%;
  height: 75%;
}

.image-4 {
  width: 40%;
  border-radius: 100%;
  margin-left: 0;
  padding-left: 0;
  padding-right: 10px;
}

.text-block-15 {
  width: 50%;
  padding-top: 30px;
}

.div-block-39 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-16 {
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: 700;
}

.text-block-17 {
  width: 50%;
}

.div-block-40 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-18 {
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: 700;
}

.div-block-41 {
  margin-bottom: 15px;
}

.div-block-42 {
  align-items: center;
  padding-top: 5px;
  display: flex;
}

.image-5 {
  width: 30px;
  height: 30px;
  margin-left: 0;
  margin-right: 10px;
  padding-right: 0;
}

.navbar-3 {
  width: 75%;
  background-color: rgba(171, 171, 171, .46);
  display: flex;
  position: fixed;
}

.div-block-43 {
  width: 50px;
  height: 50px;
  background-color: #e71d1d;
  padding-left: 0;
  position: static;
}

.div-block-44 {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #ea1a1a;
  position: absolute;
  top: 0;
  left: 66px;
}

.div-block-45 {
  z-index: 2;
  width: 6%;
  height: 9%;
  background-color: rgba(240, 0, 0, 0);
  position: absolute;
  top: 390%;
  left: 47%;
}

.image-6 {
  opacity: 1;
  outline-offset: 0px;
  mix-blend-mode: normal;
  background-color: #f4f4f4;
  border-radius: 25%;
  outline: 2px solid #000;
  box-shadow: 4px 3px 6px 2px rgba(0, 0, 0, .2);
}

.div-block-4-copyy {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-3-copyy, .div-block-3-copyyy {
  height: 100vh;
  opacity: .97;
  outline-offset: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  outline: 3px #333;
  margin-top: 0;
  margin-left: 0%;
  padding-top: 0;
  padding-left: 0;
  box-shadow: 0 -20px 3px -20px rgba(0, 0, 0, .3);
}

.outrosprojetos {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .div-block-15 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-4 {
    flex-direction: column;
  }

  .div-block-5 {
    width: 200px;
    height: 200px;
    margin-top: 72px;
    padding-top: 0;
  }

  .div-block-6 {
    margin-left: 0;
  }

  .navbar-2 {
    z-index: 2;
    width: 100%;
  }

  .div-block-13 {
    width: 100%;
    height: 1000vh;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 0%;
  }

  .div-block-3-copy {
    height: 400vh;
    flex-direction: row;
    display: flex;
  }

  .div-block-4-copy2 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 0;
  }

  .div-block-14 {
    width: 100%;
    height: 50%;
    flex-direction: column;
  }

  .div-block-15 {
    background-color: rgba(0, 0, 0, .88);
    padding-left: 0;
  }

  .div-block-21 {
    background-color: #8e4242;
    flex-direction: column;
    display: flex;
  }

  .text-block-3 {
    font-size: 16px;
  }

  .div-block-22 {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    display: flex;
  }

  .div-block-23 {
    width: 75%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    display: flex;
  }

  .div-block-24 {
    height: auto;
  }

  .div-block-25 {
    width: 90%;
  }

  .div-block-27 {
    width: 100%;
    height: 75%;
    background-color: #000;
    padding-top: 0;
  }

  .div-block-30, .div-block-31 {
    width: 100%;
    height: 25%;
  }

  .text-block-8, .text-block-9 {
    width: 100%;
  }

  .div-block-37 {
    text-align: center;
    letter-spacing: 0;
    text-indent: 0;
    margin-right: 0;
    padding-right: 0;
    font-size: 13px;
    line-height: 15px;
  }

  .text-block-17 {
    width: 75%;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
  }

  .div-block-41 {
    margin-right: 0;
  }

  .div-block-4-copyy {
    height: 100%;
    flex-direction: column;
  }

  .div-block-3-copyy, .div-block-3-copyyy {
    height: 200vh;
  }

  .text-block-19 {
    text-align: left;
    line-height: 19px;
  }

  .outrosprojetos {
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0);*/
    padding-top: 0;
  }

  .bold-text {
    opacity: 0;
  }
}
